*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}
body{
    font-family: Arial, sans-serif;
    background-color: #acb7ae;
    line-height: 1.7;
}
h2,h3{
    color:#380d1b ;
}

 /* part */
header{
    background-color:rgb(102, 8, 8) ;
    color: #fff;
    padding: 20px 0px;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    justify-content: space-between;
    margin-bottom: 70%;
    
    display: flex;
    list-style: none;
}
header nav ul li {
    margin-left: 10px;
   
}
header nav ul li a{

    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

/* section */
.section{
    padding: 40px;
    margin-bottom: 10px;
    background-color:#fa8c79;
}
#skills{
    color: black;
}
#skills ul li{
    background-color: #acb7ae;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

#hobbies ul li{
    background-color: #acb7ae;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
