/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

 h2, h3 {
    color: #333;
}


/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    /* display: flex; */
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styles */
.section {
    padding: 40px 0;
    background-color: #fff;
    margin-bottom: 20px;
}

#about {
    background-color: #e8e8e8;
}

#skills ul {
    list-style: none;
}

#skills ul li {
    background-color: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Project Styles */
.project {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.project h3 {
    color: #333;
}

.project p {
    color: #555;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
